<!DOCTYPE html>
<html lang="en">
    <%- include("partials/head.ejs") %>
<body>
    <h1>Edit <%= poke.name %></h1>
    <form action="/pokemon/<%= index %>?_method=PUT" method="post">
       <div class="card-three">
        <a class="titles">Name:</a> 
         <input class="edit-form" type="text" name="name" value="<%= poke.name%>"/> <br/>
         </div>
        <div class="type card-three">
         <a class="titles">Image:</a> 
           <input class="edit-form" type="url" name="img" id=""value="<%= poke.img%>"> <br>
         </div>
         <div class="type card-three">
      
        <a class="titles">Type:</a>  <br>
        <input class="edit-form" type="text" name="type" value="<%= poke.type[0]%>"/> <br/>
        <input class="edit-form" type="text" name="type" value="<%= poke.type[1]%>"/> <br/>
    </div>
    <div class="stats card-three">
        <a class="titles">Stats:</a> 
         HP:<input class="edit-form" type="text" name="hp"/> <br>
         Attack:<input class="edit-form" type="text" name="attack"/><br>
         Defense:<input class="edit-form" type="text" name="defense"/><br>
         Speed:<input class="edit-form" type="text" name="speed"/>
         </div>

    </div>
        <input class="edit-form" type="submit" value="Update <%= poke.name %>">
    </form>
</body>
</html>