<!DOCTYPE html>
<html lang="en">
    <%- include("partials/head.ejs") %>
<body>
    <nav>
        <a href="/pokemon/new">Create a New Pokemon</a>
      </nav>
    <h1>Pokemon</h1>
    <ul>
      <% for(let pokemon in allPokemon) { %>
      <li>
        <a href="/pokemon/<%=pokemon%>"><%=allPokemon[pokemon].name %></a> <br>
        <a href="/pokemon/<%=pokemon%>"><%=allPokemon[pokemon].img %></a><br>
        <form action="/pokemon/<%=pokemon%>?_method=delete"
          method="post">
          <input type="submit" value="delete">
        </form>

        <a href="/pokemon/<%= pokemon %>/edit">
          <button>Edit</button>
        </a>
      </li>
      <% } %> 
</body>
</html>