<!DOCTYPE html>
<html lang="en">
    <%- include("partials/head.ejs") %>

<body>
    <nav>
       <a class="nav" href="/pokemon">Home </a> 
       <a class="nav" href="/pokemon/new">|  Create a New Pokemon</a>
    </nav>
    <h1><%= poke.name %> </h1>
    <img src="<%= poke.img %>"> <br>
    <div class="type card-two">
        <a class="titles">Types: </a> <br>
        <%= poke.type[0] %> <br>
        <%= poke.type[1] %>
    </div>

    <div class="stats card-two">
       <a class="titles">Stats:</a>  <br>
       HP: <%= poke.stats.hp %> <br>
       Attack: <%= poke.stats.attack %> <br>
       Defense: <%= poke.stats.defense %> <br>
       Speed: <%= poke.stats.speed %> 
    </div>
</body>
</html>
